{
 "openapi": "3.0.3",
 "info": {
  "title": "INSEE Melodi (official statistics)",
  "version": "1.0.0",
  "description": "Keyless INSEE dissemination API. observations[] each carry dimensions.GEO ('2026-COM-80021') and measures.OBS_VALUE_NIVEAU.value. Census 2023 and Filosofi 2023."
 },
 "servers": [
  {
   "url": "https://api.insee.fr/melodi"
  }
 ],
 "paths": {
  "/data/DS_FILOSOFI_CC": {
   "get": {
    "operationId": "frFilosofi",
    "summary": "Median standard of living and poverty rate (Filosofi 2023)",
    "description": "FILOSOFI_MEASURE=MED_SL (median niveau de vie, EUR/yr) or PR_MD60 (poverty rate %, 60% of median). Small communes may carry no value (statistical secrecy).",
    "parameters": [
     {
      "name": "GEO",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Geography: '<vintage>-COM-<insee>' (e.g. 2025-COM-80021), '<vintage>-ARM-<code>' for a Paris/Lyon/Marseille arrondissement, or a bare level ('COM') for every commune."
     },
     {
      "name": "FILOSOFI_MEASURE",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "MED_SL or PR_MD60."
     },
     {
      "name": "maxResult",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Max observations (all communes need ~35,000)."
     }
    ],
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/DS_RP_TD_IMMI_AGESEXEMPSTA_PRINC": {
   "get": {
    "operationId": "frImmigration",
    "summary": "Population by immigration status (census 2023)",
    "description": "IMMI=1 immigrants (born abroad, not French at birth), 0 non-immigrants, _T total. Use SEX=_T&AGE=_T&EMPSTA_ENQ=_T for totals.",
    "parameters": [
     {
      "name": "GEO",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Geography: '<vintage>-COM-<insee>' (e.g. 2025-COM-80021), '<vintage>-ARM-<code>' for a Paris/Lyon/Marseille arrondissement, or a bare level ('COM') for every commune."
     },
     {
      "name": "IMMI",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "1, 0 or _T."
     },
     {
      "name": "SEX",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "_T for both."
     },
     {
      "name": "AGE",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "_T for all ages."
     },
     {
      "name": "EMPSTA_ENQ",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "_T for all."
     },
     {
      "name": "maxResult",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Max observations (all communes need ~35,000)."
     }
    ],
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/DS_RP_POPULATION_PRINC": {
   "get": {
    "operationId": "frPopulationAge",
    "summary": "Population by age band (census 2012/2017/2023)",
    "description": "AGE=_T total, Y15T24 aged 15-24, Y_GE65 aged 65+, etc. TIME_PERIOD=2023 for the latest census.",
    "parameters": [
     {
      "name": "GEO",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Geography: '<vintage>-COM-<insee>' (e.g. 2025-COM-80021), '<vintage>-ARM-<code>' for a Paris/Lyon/Marseille arrondissement, or a bare level ('COM') for every commune."
     },
     {
      "name": "AGE",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Age band code."
     },
     {
      "name": "SEX",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "_T for both."
     },
     {
      "name": "TIME_PERIOD",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "2012, 2017 or 2023."
     },
     {
      "name": "maxResult",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Max observations (all communes need ~35,000)."
     }
    ],
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/DS_RP_TD_ACTIVITE_AGED_PRINC": {
   "get": {
    "operationId": "frActivity",
    "summary": "Economically active population by employment status (census 2023)",
    "description": "EMPSTA_ENQ=1 employed, 2 unemployed (census self-declared), 1T2 active (labour force). Census unemployment rate = 2 / 1T2. Use SEX=_T&AGE=Y_GE15 for the 15+ total.",
    "parameters": [
     {
      "name": "GEO",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Geography: '<vintage>-COM-<insee>' (e.g. 2025-COM-80021), '<vintage>-ARM-<code>' for an arrondissement, or a bare level ('COM') for every commune."
     },
     {
      "name": "EMPSTA_ENQ",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "1, 2 or 1T2."
     },
     {
      "name": "SEX",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "_T for both."
     },
     {
      "name": "AGE",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Y_GE15 for all 15+, or a single year Y15..Y64."
     },
     {
      "name": "maxResult",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Max observations (all communes need ~35,000)."
     }
    ],
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/DS_RP_DIPLOMES_PRINC": {
   "get": {
    "operationId": "frDiplomas",
    "summary": "Highest qualification of the non-student population aged 15+ (census 2012, 2017, 2023)",
    "description": "EDUC=001T100_RP no qualification or primary certificate only; 200_RP brevet; 300_RP CAP/BEP; 350T351_RP baccalaureat; 500T702_RP any higher-education degree; 700_RP bac+5 or more; _T total.",
    "parameters": [
     {
      "name": "GEO",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Geography: '<vintage>-COM-<insee>' (e.g. 2025-COM-80021), '<vintage>-ARM-<code>' for an arrondissement, or a bare level ('COM') for every commune."
     },
     {
      "name": "EDUC",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Qualification code (see description)."
     },
     {
      "name": "SEX",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "_T for both."
     },
     {
      "name": "TIME_PERIOD",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Census year: 2012, 2017 or 2023."
     },
     {
      "name": "maxResult",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Max observations."
     }
    ],
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  }
 }
}